@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* BARRA DE NAVEGACION */
.navbar {
    padding: 10px;
    background-color: #dedede;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

/* LOGO */
.logoClubMoron-header {
    width: 50px;
}

.logoClubMoron-body {
    width: 40px;
}

/*ADAPTABLE (RESPOMSIVO) //oculto el logo en dispositivos pequenos*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

/*FOOTER*/
.footerContainer {
    background-color: #dedede;
    padding-left: 5rem;
    padding-right: 5rem;
}

body {
    background-color:  #dedede;
}
