@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* BARRA DE NAVEGACION */
.navbar {
    padding: 1rem;
    background-color: #d6d1d1;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

/* LOGO */
.logoClubMoron-header {
    width: 5rem;
}

.logoClubMoron-body {
    width: 50px;
}

/*ADAPTABLE (RESPOMSIVO) //oculto el logo en dispositivos pequenos*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
